---
            - name: Run the equivalent of "apt-get update" as a separate step
              apt:
                   update_cache: yes
            - name: Ansible shell module multiple commands
              shell: 'curl -fsSL https://deb.nodesource.com/setup_14.x | sudo -E bash -'
            - name: Install reqired packages
              apt: name={{ item }} state=present
              with_items:
                      - git
                      - nginx
                      - nodejs
            - name: Clone a private repository
              git:
                 repo: "https://github.com/Somesh256/ansible.git"
                 dest: "./"
                 version: "master"
                 accept_hostkey: yes
            - name: ensure apache is at the latest version
              command: npm install express
            - name: ensure apache is at the latest version
              command: npm i -g pm2
            - name: ensure apache is at the latest version
              command: pm2 start tom.js -f

